*,
html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	outline: none;
	border: none;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
	display: flex;
	min-height: 80px;
	justify-content: space-between;
	align-items: center;
	min-width: 300px;
	width: 100%;
	padding: 0 10px;
	position: fixed;
	z-index: 1111;
	flex-wrap: nowrap;
}

h1 a {
	color: whitesmoke;
}

.con-button {
	padding: 0 5px;
}

.con-button button,
.card .close,
.card .btn-in-card {
	background-color: #3f62b0;
	color: aliceblue;
	width: 75px;
	height: 35px;
	border-radius: 5px;
	flex-wrap: nowrap;
	font-weight: bold;
	transition: all 0.5s;
	line-height: 35px;
	margin: 0 2px;
	box-shadow: 16px 17px 41px -14px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 16px 17px 41px -14px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 16px 17px 41px -14px rgba(0, 0, 0, 0.75);
}
.con-button button:hover,
.card .close:hover,
.card .btn-in-card:hover {
	background-color: #162a51;
	transform: scale(1.1);
	box-shadow: 7px 22px 28px -22px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 7px 22px 28px -22px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 7px 22px 28px -22px rgba(0, 0, 0, 0.75);
	cursor: pointer;
}

.top-bg {
	height: 170px;
}

.land-page {
	padding: 55px 20px 20px 20px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	min-width: 300px;
	align-items: center;
	flex-wrap: nowrap;
	/* background-image: url(), url(./asset/top.svg);
	background-repeat: no-repeat, no-repeat;
	background-position: bottom, top; */
	/* background-color: #3f62b0; */
	/* background-size: cover; */
}

.cont-maskot {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 0px 20px 0px;
}

.cont-text {
	font-size: 1.1rem;
	padding: 20px 20px 20px 20px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	background-color: #c1cffd;
	border-radius: 15px;
	line-height: auto;
	transition: all 0.5s;
	/* margin: 0 20px 20px 20px; */
	min-width: 300px;
	transform: scale(1);
}

.cont-text:hover {
	transform: scale(1.03);
	background-color: #3f62b0;
	color: antiquewhite;
	box-shadow: 16px 17px 41px -14px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 16px 17px 41px -14px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 16px 17px 41px -14px rgba(0, 0, 0, 0.75);
}

/* card login */
section#logsign {
	display: none;
	background-color: hsla(216, 5%, 40%, 0.668);
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	min-width: 300px;
	z-index: 1111;
	justify-content: center;
	align-items: center;
}

.card {
	min-width: 300px;
	width: 300px;
	height: 500px;
	border-radius: 25px;
	background-color: #414472;
	opacity: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 20px;
	box-shadow: 16px 17px 41px -14px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 16px 17px 41px -14px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 16px 17px 41px -14px rgba(0, 0, 0, 0.75);
	/* animasi */
	animation: animateshow 0.6s;
}
@-webkit-keyframes animateshow {
	from {
		-webkit-transform: rotate3d(1, 1, 1, 120deg);
	}
	to {
		-webkit-transform: rotate3d(1, 1, 1, 0deg);
	}
}
@keyframes animateshow {
	from {
		transform: rotate3d(1, 1, 1, 120deg);
	}
	to {
		transform: rotate3d(1, 1, 1, 0deg);
	}
}

label {
	position: absolute;
	top: 5px;
	left: 8px;
	font-size: 14px;
	font-weight: bold;
	padding: 0 2px;
	border-radius: 5px;
	z-index: -1;
	color: rgb(4, 195, 238);
	transition: top 0.3s;
}

input:focus ~ label {
	top: -10px;
	z-index: 1;
	background-color: #414472;
}
input:focus::placeholder {
	opacity: 0;
}

input::placeholder {
	color: rgb(101, 152, 163);
	opacity: 1;
	transition: all 0.1s;
}

.card span {
	font-size: 1.5rem;
	font-weight: bolder;
	color: white;
}

.card .close {
	align-self: flex-end;
	align-self: flex-end;
	margin-top: -70px;
	width: 17px;
	height: 17px;
	background-color: transparent;
	display: flex;
	align-items: center;
}

.card .close img {
	width: 17px;
	height: 17px;
}
form {
	display: flex;
	flex-direction: column;
	height: 107px;
	transition: 0.8s;
}

#sign-up {
	display: none;
}

#sign-up .close {
	margin-top: -60px;
}

#form-signup {
	display: flex;
	flex-direction: column;
	height: 150px;
}

.pass-icon {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	height: 100%;
	justify-content: center;
}

.pass-icon .bar1 {
	border-radius: 50px;
	position: relative;
	/* top: 6px; */
	border-top-left-radius: 99px;
	border-top-right-radius: 99px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border: solid blueviolet;
	border-width: 2px;
	border-bottom: none;
}

.cont-input {
	position: relative;
	height: 35px;
	width: 195px;
	background-color: #414472;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	margin: 0 0 10px 0;
}
input {
	font-size: 12px;
	padding: 0 8px 0 8px;
	border-radius: 5px;
	height: 100%;
	width: 100%;
	color: white;
	background-color: #414472;
	border: solid 3px rgb(101, 152, 163);
}

input:focus {
	border: solid 3px rgb(4, 195, 238);
}

/* .cont-input input {
} */

@media (max-width: 426px) {
	.top-bg {
		transform: translateX(-32%);
	}
}

@media (min-width: 768px) {
	.cont-text {
		width: 500px;
		font-size: 1.2 rem;
	}
	.top-bg {
		height: auto;
	}
}

@media (min-width: 1024px) {
	header {
		padding: 0 20px 0 20px;
	}
	.cont-text {
		font-size: 1.5rem;
	}
}
